body{
    font-family: Arial;
    margin:0;
    background:#f5f7fb;
}

/* HEADER */

header{
    background:#0b5ed7;
    color:white;
    padding:15px 40px;
}

.logo{
    font-size:24px;
    font-weight:bold;
}

/* PRODUCT */

.container{
    width:1200px;
    margin:auto;
    margin-top:30px;
}

.product{
    display:flex;
    gap:40px;
    background:white;
    padding:30px;
    border-radius:10px;
}

/* IMAGE */

.product-image{
    width:45%;
}

.product-image img{
    width:100%;
}

/* INFO */

.product-info{
    width:55%;
}

.product-name{
    font-size:26px;
    font-weight:bold;
    margin-bottom:15px;
}

.price{
    font-size:28px;
    color:#0b5ed7;
    margin-bottom:20px;
}

.buy-btn{
    background:#0b5ed7;
    color:white;
    border:none;
    padding:12px 30px;
    font-size:16px;
    border-radius:6px;
    cursor:pointer;
}
.btn-cart{
    background:gray;
    color:black;
    border:none;
    padding:12px 30px;
    font-size:16px;
    border-radius:6px;
    cursor:pointer;
}
.btn-cart:hover {
    background-color: #e65c00;
    color: white;
}

/* SPEC */

.spec{
    background:white;
    margin-top:30px;
    padding:30px;
    border-radius:10px;
}

.spec h2{
    margin-bottom:20px;
}

.spec table{
    width:100%;
    border-collapse:collapse;
}

.spec td{
    padding:10px;
    border-bottom:1px solid #ddd;
}